:root, [data-bs-theme=light] {
  --bs-primary: rgb(8,41,114);
  --bs-primary-rgb: 8,41,114;
  --bs-primary-text-emphasis: #03102E;
  --bs-primary-bg-subtle: #CED4E3;
  --bs-primary-border-subtle: #9CA9C7;
  --bs-secondary: #ea690c;
  --bs-secondary-rgb: 234,105,12;
  --bs-secondary-text-emphasis: #5E2A05;
  --bs-secondary-bg-subtle: #FBE1CE;
  --bs-secondary-border-subtle: #F7C39E;
  --bs-body-bg: #f6f6f6;
  --bs-body-bg-rgb: 246,246,246;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: rgb(8,41,114);
  --bs-btn-border-color: rgb(8,41,114);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #072361;
  --bs-btn-hover-border-color: #06215B;
  --bs-btn-focus-shadow-rgb: 218,223,234;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #06215B;
  --bs-btn-active-border-color: #061F56;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: rgb(8,41,114);
  --bs-btn-disabled-border-color: rgb(8,41,114);
}

.btn-outline-primary {
  --bs-btn-color: rgb(8,41,114);
  --bs-btn-border-color: rgb(8,41,114);
  --bs-btn-focus-shadow-rgb: 8,41,114;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: rgb(8,41,114);
  --bs-btn-hover-border-color: rgb(8,41,114);
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: rgb(8,41,114);
  --bs-btn-active-border-color: rgb(8,41,114);
  --bs-btn-disabled-color: rgb(8,41,114);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(8,41,114);
}

.btn-secondary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #ea690c;
  --bs-btn-border-color: #ea690c;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #ED8030;
  --bs-btn-hover-border-color: #EC7824;
  --bs-btn-focus-shadow-rgb: 35,16,2;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #EE873D;
  --bs-btn-active-border-color: #EC7824;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #ea690c;
  --bs-btn-disabled-border-color: #ea690c;
}

.btn-outline-secondary {
  --bs-btn-color: #ea690c;
  --bs-btn-border-color: #ea690c;
  --bs-btn-focus-shadow-rgb: 234,105,12;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #ea690c;
  --bs-btn-hover-border-color: #ea690c;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #ea690c;
  --bs-btn-active-border-color: #ea690c;
  --bs-btn-disabled-color: #ea690c;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ea690c;
}

[data-bs-theme=dark] {
  --bs-body-bg: #3f3f3f;
  --bs-body-bg-rgb: 63,63,63;
}

.aspect-ratio-1x1 {
  aspect-ratio: 1/1;
}

