.container {
  justify-content: center;
}

table.stats-table {
  font-family: 'Roboto Condensed';
  width: 1000px;
  font-size: .875rem;
  width: 80%;
}

tr.table-header {
  text-align: left;
  background-color: var(--bs-primary);
  color: var(--bs-secondary);
}

tr.table-row {
  background-color: white;
  border-bottom: 2px solid var(--bs-gray-200);
}

td.table-cell {
  color: var(--bs-primary);
  background-color: white;
  padding-left: .4rem;
  padding-right: .8rem;
  padding-top: .8rem;
  padding-bottom: .4rem;
  border-left: 0px;
  border-right: 0px;
  text-align: left;
}

th.table-header-cell {
  padding-left: .4rem;
  padding-right: .8rem;
  padding-top: .4rem;
  padding-bottom: .4rem;
}

a.table-link:link,
a.table-link:visited {
  color: var(--bs-primary);
  text-decoration: none;
}

a.table-link:hover {
  color: var(--bs-secondary);
  text-decoration: none;
}

a.header-link:link,
a.header-link:visited {
  color: var(--bs-secondary);
  text-decoration: none;
}

a.header-link:hover {
  color: white;
  text-decoration: none;
}